.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 150px;
  margin: 20px;
  border-radius: 20px;
}
.about-me__container {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
}

.about-me__container h2 {
  text-align: center;
}

.about-me__container p {
  text-align: center;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.social-media__container{
  display: flex;
  justify-content: center;
}

.social-media__logo__gitHub {
  width: 85px;
  height: 85px;
  margin-top: 12px;
}

.social-media__logo__linkedin {
  width: 70px;
  height: 70px;
  
}

